<header class="topbar flex flex-wrap content-center px-2">
  <div class="flex">
    <h1 class="flex">
      <a class="flex items-center px-2" href="{{ path('app_home') }}">
        <img class="h-6" src="{{ asset('build/logo.png') }}" alt="Manager">
        <span class="ml-2 text-gray-100 font-bold">Manager</span>
      </a>
    </h1>
  </div>
  <ul class="flex ml-auto">
    {% if is_granted('ROLE_ADMIN') %}
      <li>
        <a class="btn" href="{{ path('app_admin') }}">
          <i class="fas fa-wrench mr-1"></i>
          Admin
        </a>
      </li>
    {% endif %}
    <li>
      <a class="btn" href="{{ path('app_projects') }}">Projets</a>
    </li>
    <li>
      <a class="btn" href="{{ path('app_groups') }}">Groupes</a>
    </li>
    <li>
      <a class="btn" href="{{ path('app_servers') }}">
        <i class="fas fa-server mr-1"></i>
        Serveurs
      </a>
    </li>
    <li class="dropdown">
      <button class="btn" type="button">
        {{ app.user.username }}
      </button>
      <div class="menu">
        <ul>
          <li>
            <a class="px-4 py-2" href="{{ path('app_profile') }}">Paramètres</a>
          </li>
          <li class="divider"></li>
          <li>
            <a class="px-4 py-2" href="{{ path('app_logout') }}">Déconnexion</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</header>
