<header class="topbar flex flex-wrap content-center">
  <a class="block px-2" href="{{ path('app_home') }}">
    <img class="inline-block align-middle h-8" src="{{ asset('build/logo.png') }}" alt="Manager">
    <span class="inline-block align-middle ml-1 text-gray-100 font-bold">Manager</span>
  </a>
  <a class="btn" href="{{ path('app_projects') }}">Projets</a>
  <a class="btn" href="{{ path('app_servers') }}">Serveurs</a>
  <a class="btn" href="{{ path('app_logout') }}">Déconnexion</a>
</header>
