<header class="topbar flex flex-wrap content-center px-2">
  <div class="flex">
    <h1 class="flex">
      <a class="flex items-center px-2" href="{{ path('app_home') }}">
        <img class="h-6" src="{{ asset('build/logo.png') }}" alt="Manager">
        <span class="ml-2 text-gray-100 font-bold">Manager</span>
      </a>
    </h1>
  </div>
  <ul class="flex ml-auto">
    {% if is_granted('ROLE_ADMIN') %}
      <li>
        <a href="{{ path('app_admin') }}">
          <i class="fas fa-tools mr-1"></i>
          Admin
        </a>
      </li>
    {% endif %}
    <li>
      <a href="{{ path('app_credentials_list') }}">
        <i class="fas fa-key mr-1"></i>
        Identifiants
      </a>
    </li>
    <li>
      <a href="{{ path('app_project_list') }}">
        <i class="fas fa-code mr-1"></i>
        Projets
      </a>
    </li>
    <li>
      <a href="{{ path('app_project_group_list') }}">
        <i class="fas fa-object-group mr-1"></i>
        Groupes
      </a>
    </li>
    <li>
      <a href="{{ path('app_server_list') }}">
        <i class="fas fa-server mr-1"></i>
        Serveurs
      </a>
    </li>
    <li class="dropdown">
      <button class="relative" type="button">
        <span class="absolute right-0 mr-6 flex flex-wrap justify-center w-6 h-6 bg-gray-100 rounded-full">
          <span class="self-center text-xxs text-gray-900">
            {{ app.user.firstname|first|capitalize }}{{ app.user.lastname|first|capitalize }}
          </span>
        </span>
        <span class="pr-10">
          {{ app.user.username }}
        </span>
        <i class="fas fa-angle-down"></i>
      </button>
      <div class="menu">
        <ul>
          <li>
            <a class="px-4 py-2" href="{{ path('app_profile') }}">Paramètres</a>
          </li>
          <li>
            <a class="px-4 py-2" href="{{ path('app_change_password') }}">Changer de mot de passe</a>
          </li>
          <li>
            <a class="px-4 py-2" href="{{ path('app_generate_password') }}">Générer un mot de passe</a>
          </li>
          <li class="divider"></li>
          <li>
            <a class="px-4 py-2" href="{{ path('app_logout') }}">Déconnexion</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</header>
