{% extends 'app/layout.html.twig' %}

{% block page_content %}
  <div class="page-title text-center">
    <h1>Générateur de mot de passe fort</h1>
  </div>
  <div class="text-center">
    {% if password %}
      <p class="text-6xl">{{ password }}</p>
    {% endif %}
    {{ form_start(form) }}
      <div>
        {{ form_widget(form.lowercase) }}
        {{ form_label(form.lowercase) }}
      </div>
      <div>
        {{ form_widget(form.uppercase) }}
        {{ form_label(form.uppercase) }}
      </div>
      <div>
        {{ form_widget(form.numbers) }}
        {{ form_label(form.numbers) }}
      </div>
      <div>
        {{ form_widget(form.symbols) }}
        {{ form_label(form.symbols) }}
      </div>
      <div class="w-64 mx-auto">
        {{ form_row(form.length) }}
      </div>
      {{ form_rest(form) }}
      <button type="submit" class="btn btn-success">Générer</button>
    {{ form_end(form) }}
  </div>
{% endblock %}
