{% extends 'app/layout.html.twig' %}

{% block body %}
  <div class="container mx-auto p-4">
    <h1 class="pb-3 mb-4 border-b border-gray-300 text-2xl font-bold">{{ project.name }}</h1>
    <p class="mb-4">{{ project.description }}</p>
    <div class="grid grid-cols-2 gap-4">
      {% if project.customer %}
        <div class="px-4 py-2 border border-gray-300 shadow">
          <h2 class="font-bold mb-2">Client</h2>
          <p>{{ project.customer.name }}</p>
          <p>{{ project.customer.address }}</p>
          <p>{{ project.customer.postcode }} {{ project.customer.city }}</p>
          {% if project.customer.phone %}<p>{{ project.customer.phone }}</p>{% endif %}
          {% if project.customer.email %}<p>{{ project.customer.email }}</p>{% endif %}
        </div>
      {% endif %}
      <div class="px-4 py-2 border border-gray-300 shadow">
        <h2 class="font-bold mb-2">Environnements</h2>
        <ul>
          {% for environment in project.environments %}
            <li>{{ environment.environment }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="px-4 py-2 border border-gray-300 shadow">
        <h2 class="font-bold mb-2">Liens</h2>
        <ul>
          <li>Gitlab</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
