{% extends 'app/admin/layout.html.twig' %}

{% block page_content %}
  <a class="btn btn-success-o text-sm mt-4 mb-4 font-bold" href="{{ path('app_admin_link_type_create') }}">
    <i class="fas fa-plus"></i>
    Nouveau type de lien
  </a>
  <table>
    <thead>
      <tr>
        <th class="text-left">Nom</th>
        <th class="text-left">Préfixe URL</th>
        <th>Couleur</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for type in types %}
        <tr>
          <td>
            <a class="flex items-center font-bold" href="{{ path('app_admin_link_type_edit', { id: type.id }) }}">
              {% if type.iconFilename %}
                <span class="flex items-center justify-center w-8 h-8 mr-2">
                  <img class="max-h-full" src="{{ uploaded_asset(type, 'link_type_icon') }}" alt="{{ type.name }}">
                </span>
              {% else %}
                <i class="fas fa-link w-8 mr-2 text-center"></i>
              {% endif %}
              {{ type.name }}
            </a>
          </td>
          <td>
            <a href="{{ path('app_admin_link_type_edit', { id: type.id }) }}">{{ type.uriPrefix }}</a>
          </td>
          <td class="flex align-center justify-center">
            {% if type.color %}
              <a href="{{ path('app_admin_link_type_edit', { id: type.id }) }}" class="w-24 h-8 rounded-full" style="background-color: {{ type.color }};"></a>
            {% endif %}
          </td>
          <td class="text-right">
            <a class="btn btn-sm" href="{{ path('app_admin_link_type_edit', { id: type.id }) }}">Éditer</a>
            <a class="btn btn-danger-o btn-sm ml-2" data-confirm="Êtes-vous sûr de vouloir supprimer ce type de projet ?" href="{{ path('app_admin_link_type_delete', { id: type.id }) }}">Supprimer</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if pager.haveToPaginate %}
    <div class="pagination text-center">
      {{ pagerfanta(pager) }}
    </div>
  {% endif %}
{% endblock %}
