{% extends 'app/admin/layout.html.twig' %}

{% block page_content %}
  <a class="btn btn-success text-sm mt-4 mb-4 font-bold" href="{{ path('app_credentials_create') }}">
    <i class="fas fa-plus"></i>
    Nouveaux identifiants
  </a>
  <table class="w-full text-sm text-gray-700">
    <tbody>
      {% for credential in credentials %}
        <tr class="border-b last:border-b-0">
          <td class="px-4 py-2">
            <div class="inline-block align-middle">
              <a class="font-bold text-gray-900" href="#">{{ credential.name }}</a>
              <div>
                {% if credential.email %}
                  <a class="hover:underline" href="mailto:{{ credential.email }}">{{ credential.email }}</a>
                {% else %}
                  <a class="font-bold text-gray-900" href="#">{{ credential.username }}</a>
                {% endif %}
              </div>
            </div>
          </td>
          <td class="px-4 py-2 text-right">
            <a class="btn btn-sm" href="{{ path('app_credentials_edit', { id: credential.id }) }}">Éditer</a>
            <a class="btn btn-danger btn-sm ml-2" data-confirm="Êtes-vous sûr de vouloir supprimer ces identifiants ?" href="{{ path('app_credentials_delete', { id: credential.id }) }}">Supprimer</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if pager.haveToPaginate %}
    <div class="pagination text-center">
      {{ pagerfanta(pager) }}
    </div>
  {% endif %}
{% endblock %}
