{% extends 'app/admin/layout.html.twig' %}

{% block page_content %}
  <a class="btn btn-success-o text-sm mt-4 mb-4 font-bold" href="{{ path('app_admin_client_create') }}">
    <i class="fas fa-plus"></i>
    Nouveau client
  </a>
  <table class="w-full text-sm text-gray-700">
    <thead>
      <tr class="border-b text-xs">
        <th class="px-4 py-3 text-left font-normal">Nom</th>
        <th class="px-4 py-3 text-left font-normal">Date de création</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for client in clients %}
        <tr class="border-b-2 last:border-b-0">
          <td class="px-4 py-2">
            <a class="font-bold text-gray-900" href="{{ path('app_admin_client_edit', { id: client.id }) }}">{{ client.name }}</a>
            <div>
              <a class="hover:underline" href="mailto:{{ client.email }}">{{ client.email }}</a>
            </div>
          </td>
          <td class="px-4 py-2">{{ client.createdAt|diffForHumans }}</td>
          <td class="px-4 py-2 text-right">
            <a class="btn btn-sm" href="{{ path('app_admin_client_edit', { id: client.id }) }}">Éditer</a>
            <a class="btn btn-danger-o btn-sm ml-2" data-confirm="Êtes-vous sûr de vouloir supprimer ce client ?" href="{{ path('app_admin_client_delete', { id: client.id }) }}">Supprimer</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if pager.haveToPaginate %}
    <div class="pagination text-center">
      {{ pagerfanta(pager) }}
    </div>
  {% endif %}
{% endblock %}
