{% from 'app/project/_identicon.html.twig' import identicon %}

{% extends 'app/admin/layout.html.twig' %}

{% block page_content %}
  <a class="btn btn-success-o text-sm mt-4 mb-4 font-bold" href="{{ path('app_project_create') }}">
    <i class="fas fa-plus"></i>
    Nouveau projet
  </a>
  <table>
    <tbody>
      {% for project in projects %}
        <tr>
          <td>
            {{ identicon(project, 'w-10 h-10 mr-2') }}
            <div class="inline-block align-middle">
              <a class="font-bold text-gray-900" href="{{ path_to(project, 'view') }}">{{ project.name }}</a>
            </div>
          </td>
          <td>Créé {{ project.createdAt|diffForHumans }}</td>
          <td class="text-right">
            <a class="btn btn-sm" href="{{ path_to(project, 'edit') }}">Éditer</a>
            <a class="btn btn-danger-o btn-sm ml-2" data-confirm="Êtes-vous sûr de vouloir supprimer ce projet ?" href="{{ path_to(project, 'delete') }}">Supprimer</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if pager.haveToPaginate %}
    <div class="pagination text-center">
      {{ pagerfanta(pager) }}
    </div>
  {% endif %}
{% endblock %}
