{% extends 'app/admin/layout.html.twig' %}

{% block page_content %}
  <a class="btn success text-sm mt-4 mb-4 font-bold" href="{{ path('app_project_group_create') }}">
    <i class="fas fa-plus"></i>
    Nouveau groupe
  </a>
  <table class="w-full text-sm text-gray-700">
    <tbody>
      {% for group in groups %}
        <tr class="border-b last:border-b-0">
          <td class="px-4 py-2">
            <div class="inline-block align-middle mr-2">
              <a class="flex flex-wrap justify-center w-10 h-10 bg-gray-300 rounded" href="{{ path('app_project_group_view', { slug: group.slug }) }}">
                <span class="self-center font-bold">
                  {{ group.name|first|capitalize }}
                </span>
              </a>
            </div>
            <div class="inline-block align-middle">
              <a class="font-bold text-gray-900" href="{{ path('app_project_group_view', { slug: group.slug }) }}">{{ group.name }}</a>
            </div>
          </td>
          <td class="px-4 py-2">Créé {{ group.createdAt|diffForHumans }}</td>
          <td class="px-4 py-2 text-right">
            <a class="btn btn-sm" href="{{ path('app_project_group_edit', { slug: group.slug }) }}">Éditer</a>
            <a class="btn danger btn-sm ml-2" data-confirm="Êtes-vous sûr de vouloir supprimer ce groupe ?" href="{{ path('app_project_group_delete', { slug: group.slug }) }}">Supprimer</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if pager.haveToPaginate %}
    <div class="pagination text-center">
      {{ pagerfanta(pager) }}
    </div>
  {% endif %}
{% endblock %}
