{% extends 'app/admin/layout.html.twig' %}

{% block page_content %}
  <a class="btn btn-success-o text-sm mt-4 mb-4 font-bold" href="{{ path('app_admin_user_create') }}">
    <i class="fas fa-user-plus"></i>
    Nouvel utilisateur
  </a>
  <table>
    <thead>
      <tr>
        <th class="wrap-content">ID</th>
        <th class="text-left">Nom</th>
        <th>Date d'inscription</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>
            <a class="identicon w-10 h-10 mr-2" href="#">
              <span class="self-center font-bold">
                {{ user.firstname|first|capitalize }}{{ user.lastname|first|capitalize }}
              </span>
            </a>
            <div class="inline-block align-middle">
              <a class="font-bold text-gray-700" href="#">{{ user.firstname }} {{ user.lastname }}</a>
              <div>
                <a class="hover:underline" href="mailto:{{ user.email }}">{{ user.email }}</a>
              </div>
            </div>
          </td>
          <td class="text-center">{{ user.createdAt|diffForHumans }}</td>
          <td class="text-right">
            {#<a class="btn btn-sm" href="#">Éditer</a>
            <a class="btn btn-danger-o btn-sm" href="#">Supprimer</a>#}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if pager.haveToPaginate %}
    <div class="pagination text-center">
      {{ pagerfanta(pager) }}
    </div>
  {% endif %}
{% endblock %}
