{% extends 'app/admin/layout.html.twig' %}

{% block page_content %}
  <div class="page-title">
    <h1>Identifiants</h1>
  </div>
  <a class="btn warning" href="{{ path('app_credentials_create') }}">Nouveaux identifiants</a>
  <ul>
    {% for credential in credentials %}
      <li class="mb-4">
        <p>Nom : {{ credential.name }}</p>
        <p>Nom d'utilisateur : {{ credential.username }}</p>
        <p>Email : {{ credential.email }}</p>
        <p>Mot de passe : {{ credential.password }}</p>
        <p>Site web : {{ credential.website }}</p>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
