{% extends 'app/project_group/layout.html.twig' %}

{% block page_content %}
  <div class="page-title">
    <h2>Général</h2>
  </div>
  {{ form_start(editForm) }}
    {{ form_rest(editForm) }}
    <button type="submit" class="btn btn-primary mt-4">Enregistrer</button>
  {{ form_end(editForm) }}
  <div class="page-title mt-4">
    <h2>Changer l'URL</h2>
  </div>
  {{ form_start(slugChangeForm) }}
    {{ form_rest(slugChangeForm) }}
    <button type="submit" class="btn btn-primary mt-4">Changer l'URL</button>
  {{ form_end(slugChangeForm) }}
  {% if is_granted('DELETE', group) %}
    <div class="page-title mt-4">
      <h2>Supprimer le groupe</h2>
    </div>
    <p>Supprimer ce groupe supprimera aussi tous ses projets, et toutes les données associées.</p>
    <p><strong>Cette action est irréversible !</strong></p>
    <a class="btn btn-danger btn-sm mt-2" data-confirm="Êtes-vous sûr de vouloir supprimer ce groupe ?" href="{{ path('app_project_group_delete', { slug: group.slug }) }}">Supprimer</a>
  {% endif %}
{% endblock %}
