{% extends 'app/project_group/layout.html.twig' %}

{% block page_content %}
  <div class="page-title">
    <h1>Membres</h1>
  </div>
  {{ form_start(form) }}
    {{ form_row(form.user) }}
    {{ form_row(form.accessLevel) }}
    {{ form_rest(form) }}
    <button type="submit" class="btn success mt-4">Ajouter</button>
  {{ form_end(form) }}
  <h2 class="mb-3 mt-6 text-lg font-bold">Membres existants</h2>
  {% if group.members|length %}
    <ul class="list-disc list-inside">
      {% for member in group.members %}
        <li class="mb-4">
          <strong>{{ member.user.email }}</strong>
          <small class="border rounded p-1 ml-2 text-gray-700">{{ member|access_level_label }}</small>
          {% if member.accessLevel != constant('App\\Entity\\ProjectGroupMember::ACCESS_LEVEL_OWNER') %}
            <a class="p-2 ml-2 bg-red-600 hover:bg-red-700 rounded text-xs text-white" href="{{ path('app_project_group_member_remove', { slug: group.slug, id: member.id }) }}">
              <i class="fas fa-trash"></i>
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
