{% extends 'app/project_group/layout.html.twig' %}

{% block page_content %}
  <div class="page-title">
    <h3>Ajouter un membre</h3>
  </div>
  {{ form_start(form) }}
    {{ form_row(form.user) }}
    {{ form_row(form.accessLevel) }}
    {{ form_rest(form) }}
    <button type="submit" class="btn btn-primary mt-4">Ajouter</button>
  {{ form_end(form) }}
  <h2 class="mb-3 mt-6 text-lg font-bold">Membres existants</h2>
  {% if members|length %}
    <table>
      <thead>
        <tr>
          <th class="text-left">Nom</th>
          <th>Niveau d'accès</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for member in members %}
          <tr>
            <td>
              <div class="inline-block align-middle mr-2">
                <a class="flex flex-wrap justify-center w-10 h-10 bg-gray-300 rounded-full" href="#">
                  <span class="self-center font-bold">
                    {{ member.user.firstname|first|capitalize }}{{ member.user.lastname|first|capitalize }}
                  </span>
                </a>
              </div>
              <div class="inline-block align-middle">
                <a class="font-bold text-gray-900" href="#">{{ member.user.firstname }} {{ member.user.lastname }}</a>
                {% if member.user == app.user %}
                  <small class="p-1 rounded bg-green-600 text-white font-bold">Moi</small>
                {% endif %}
                <div>
                  <a class="hover:underline" href="mailto:{{ member.user.email }}">{{ member.user.email }}</a>
                </div>
              </div>
            </td>
            <td class="text-center">
              <small class="access-level-label">{{ member|access_level_label }}</small>
            </td>
            <td class="text-center">Rejoint {{ member.createdAt|diffForHumans }}</td>
            <td class="text-right">
              {% if member.accessLevel != constant('App\\Entity\\ProjectGroupMember::ACCESS_LEVEL_OWNER') %}
                <a class="btn btn-danger btn-sm" data-confirm="Êtes-vous sûr de vouloir supprimer ce membre ?" href="{{ path('app_project_group_member_remove', { slug: group.slug, id: member.id }) }}">
                  Supprimer
                </a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if pager.haveToPaginate %}
      <div class="pagination text-center">
        {{ pagerfanta(pager) }}
      </div>
    {% endif %}
  {% endif %}
{% endblock %}
