{% from 'app/project_group/_identicon.html.twig' import identicon as group_identicon %}
{% from 'app/project/_identicon.html.twig' import identicon as project_identicon %}

{% extends 'app/project_group/layout.html.twig' %}

{% block page_content %}
  <div class="flex items-center mx-auto border-b pb-10 mt-4 mb-10 border-gray-200">
    {{ group_identicon(group, 'w-32 h-32 mr-10 text-2xl') }}
    <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
      <h2 class="text-gray-900 text-lg title-font font-medium mb-2">{{ group.name }}</h2>
      <p class="leading-relaxed text-base">{{ group.description }}</p>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4">
    {% if group.client %}
      <div class="px-4 py-2 border border-gray-300 shadow">
        <h2 class="font-bold mb-2">Client</h2>
        <p>{{ group.client.name }}</p>
        <p>{{ group.client.address }}</p>
        <p>{{ group.client.postcode }} {{ group.client.city }}</p>
        {% if group.client.phone %}<p>{{ group.client.phone }}</p>{% endif %}
        {% if group.client.email %}<p>{{ group.client.email }}</p>{% endif %}
      </div>
    {% endif %}
  </div>
  <div class="page-title">
    <h2>Projets</h2>
  </div>
  <table class="w-full text-sm text-gray-700">
    <tbody>
      {% for project in projects %}
        <tr class="border-b-2 last:border-b-0">
          <td class="px-4 py-2">
            <div class="inline-block align-middle mr-2">
              {{ project_identicon(project, 'w-10 h-10') }}
            </div>
            <div class="inline-block align-middle">
              <a class="font-bold text-gray-900" href="{{ path('app_project_view', { projectGroupSlug: project.projectGroup.slug, projectSlug: project.slug }) }}">{{ project.name }}</a>
            </div>
          </td>
          <td class="px-4 py-2">Créé {{ project.createdAt|diffForHumans }}</td>
          <td class="px-4 py-2 text-right">
            {% if is_granted('EDIT', project) %}
              <a
                class="btn btn-sm"
                title="Éditer"
                href="{{ path('app_project_edit', { projectGroupSlug: project.projectGroup.slug, projectSlug: project.slug }) }}"
              >
                <i class="fas fa-edit"></i>
              </a>
            {% endif %}
            {% if is_granted('DELETE', project) %}
              <a
                class="btn btn-danger btn-sm ml-2"
                data-confirm="Êtes-vous sûr de vouloir supprimer ce projet ?"
                title="Supprimer"
                href="{{ path('app_project_delete', { projectGroupSlug: project.projectGroup.slug, projectSlug: project.slug }) }}"
              >
                <i class="fas fa-trash"></i>
              </a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if pager.haveToPaginate %}
    <div class="pagination text-center">
      {{ pagerfanta(pager) }}
    </div>
  {% endif %}
{% endblock %}
