{% extends 'app/layout.html.twig' %}

{% block page_content %}
  <div class="page-title">
    <h1>Identifiants : {{ credentials.name }}</h1>
  </div>
  {% if is_granted('EDIT', credentials) %}
    <a class="btn mb-4" href="{{ path('app_credentials_edit', { id: credentials.id }) }}">
      Éditer
    </a>
  {% endif %}
  {% if is_granted('DELETE', credentials) %}
    <a class="btn btn-danger mb-4" data-confirm="Êtes-vous sûr de vouloir supprimer ces identifiants ?" href="{{ path('app_credentials_delete', { id: credentials.id }) }}">
      Supprimer
    </a>
  {% endif %}
  {% if credentials.description %}
    <p class="mb-4">{{ credentials.description }}</p>
  {% endif %}
  <div class="px-4 py-2 border border-gray-300 shadow">
    {% if credentials.username %}
      <p>
        <strong>Nom d'utilisateur</strong>
        <span>{{ credentials.username }}</span>
      </p>
    {% endif %}
    {% if credentials.email %}
      <p>
        <strong>Email</strong>
        <span>{{ credentials.email }}</span>
      </p>
    {% endif %}
    <p>
      <strong>Mot de passe</strong>
      <span>{{ credentials.password }}</span>
    </p>
    {% if credentials.website %}
      <p>
        <strong>Site web</strong>
        <span>{{ credentials.website }}</span>
      </p>
    {% endif %}
  </div>
{% endblock %}
