{% from 'app/project/_identicon.html.twig' import identicon %}

<table>
  <tbody>
    {% for project in projects %}
      <tr>
        <td>
          <div class="inline-block align-middle mr-2">
            {{ identicon(project, 'w-10 h-10') }}
          </div>
          <div class="inline-block align-middle">
            <a href="{{ path_to(project, 'view') }}">
              <span class="text-gray-700">{{ project.projectGroup.name }} /</span>
              <span class="font-bold text-gray-900">{{ project.name }}</span>
            </a>
            <small class="access-level-label ml-2">{{ project.memberByUser(app.user)|access_level_label }}</small>
          </div>
        </td>
        <td class="text-right">Créé {{ project.createdAt|diffForHumans }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
