{% from 'app/project/_identicon.html.twig' import identicon %}

<table class="w-full text-sm text-gray-700">
  <tbody>
    {% for project in projects %}
      <tr class="border-b-2 last:border-b-0">
        <td class="px-4 py-2">
          <div class="inline-block align-middle mr-2">
            {{ identicon(project, 'w-10 h-10') }}
          </div>
          <div class="inline-block align-middle">
            <a href="{{ path('app_project_view', { projectGroupSlug: project.projectGroup.slug, projectSlug: project.slug }) }}">
              <span class="text-gray-700">{{ project.projectGroup.name }} /</span>
              <span class="font-bold text-gray-900">{{ project.name }}</span>
            </a>
            <small class="access-level-label ml-2">{{ project.memberByUser(app.user)|access_level_label }}</small>
          </div>
        </td>
        <td class="px-4 py-2 text-right">Créé {{ project.createdAt|diffForHumans }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
