{% extends 'app/project/layout.html.twig' %}

{% block page_content %}
  {% if is_granted('MEMBER', project) %}
    <a
      class="btn btn-success-o text-sm my-4"
      href="{{ path('app_project_environment_add', { projectGroupSlug: project.projectGroup.slug, projectSlug: project.slug }) }}"
    >
      <i class="fas fa-plus"></i>
      Nouvel environnement
    </a>
  {% endif %}
  {% if project.environments|length %}
    <div class="grid grid-cols-2 gap-4">
      {% for environment in project.environments %}
        <div class="card">
          <h2 class="text-gray-900 text-lg font-medium mb-3">{{ environment.name }}</h2>
          {% if environment.description %}
            <p class="text-sm text-gray-600 mb-3">{{ environment.description }}</p>
          {% endif %}
          <ul>
            <li class="mb-2">
              <a class="text-sm text-gray-700" href="{{ path('app_server_view', { id: environment.server.id }) }}">
                <i class="fas fa-server mr-1"></i>
                <span>{{ environment.server.name }}</span>
              </a>
            </li>
            {% if environment.path %}
              <li class="text-sm text-gray-700 mb-2">
                <i class="far fa-folder-open"></i>
                <span>{{ environment.path }}</span>
              </li>
            {% endif %}
            {% if environment.url %}
              <li class="mb-2">
                <a class="text-sm text-gray-700 hover:underline" href="{{ environment.url }}">
                  <i class="fas fa-link"></i>
                  <span>{{ environment.url }}</span>
                </a>
              </li>
            {% endif %}
          </ul>
          <div class="text-right">
            <a
              class="btn btn-sm"
              title="Éditer"
              href="{{ path('app_project_environment_edit', { projectGroupSlug: project.projectGroup.slug, projectSlug: project.slug, id: environment.id }) }}"
            >
              <i class="fas fa-edit"></i>
            </a>
            <a
              class="btn btn-danger btn-sm"
              data-confirm="Êtes-vous sûr de vouloir supprimer cet environnement ?"
              title="Supprimer"
              href="{{ path('app_project_environment_remove', { projectGroupSlug: project.projectGroup.slug, projectSlug: project.slug, id: environment.id }) }}"
            >
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
