{% extends 'app/user_settings/layout.html.twig' %}

{% block page_content %}
  <div class="flex items-center flex-col mt-6">
    <span class="flex justify-center items-center w-32 h-32 rounded-full bg-gray-300 text-3xl text-gray-900 font-bold mb-2">
      {{ app.user.firstname|first|capitalize }}{{ app.user.lastname|first|capitalize }}
    </span>
    <span class="block text-2xl font-bold">{{ app.user.firstname }} {{ app.user.lastname }}</span>
  </div>
  {{ form_start(form) }}
    {{ form_rest(form) }}
    <button type="submit" class="btn success mt-4">Enregistrer</button>
  {{ form_end(form) }}
{% endblock %}
